/* 核心配色 */
.bg-police {
  background-color: #002fa7;
}
.text-police {
  color: #002fa7;
}
.border-police {
  border-color: #002fa7;
}
.hover\:bg-police-dark:hover {
  background-color: #001d66;
}
.focus\:border-police:focus {
  border-color: #002fa7;
}
.bg-police-light {
  background-color: #1890ff;
}
.bg-transparent {
  background-color: transparent;
}
/* 辅助色 */
.bg-white {
  background-color: #ffffff;
}
.bg-green-50 {
  background-color: #f0fdf4;
}
.bg-green-500 {
  background-color: #22c55e;
}
.text-green-500 {
  color: #22c55e;
}
.text-green-600 {
  color: #16a34a;
}
.bg-green-600 {
  background-color: #16a34a;
}
.bg-green-100 {
  background-color: #dcfce7;
}
.text-green-700 {
  color: #15803d;
}

.bg-blue-50 {
  background-color: #eff6ff;
}
.bg-blue-100 {
  background-color: #dbeafe;
}
.bg-blue-500 {
  background-color: #3b82f6;
}
.text-blue-500 {
  color: #3b82f6;
}
.text-blue-600 {
  color: #2563eb;
}
.text-blue-200 {
  --tw-text-opacity: 1; color: rgba(191, 219, 254, var(--tw-text-opacity));
}

.bg-purple-50 {
  background-color: #faf5ff;
}
.text-purple-600 {
  color: #9333ea;
}

.bg-yellow-50 {
  background-color: #fefce8;
}
.bg-yellow-100 {
  background-color: #fef9c3;
}
.bg-yellow-400 {
  background-color: #facc15;
}
.bg-yellow-500 {
  color: #eab308;
}
.bg-yellow-700 {
  background-color: #a16207;
}
.text-yellow-400 {
  color: #facc15;
}
.text-yellow-500 {
  color: #eab308;
}
.text-yellow-600 {
  color: #ca8a04;
}
.text-yellow-700 {
  color: #a16207;
}

.bg-orange-50 {
  background-color: #fff7ed;
}
.bg-orange-100 {
  background-color: #ffedd5;
}
.text-orange-400 {
  color: #fb923c;
}
.text-orange-500 {
  color: #f97316;
}

.bg-red-100 {
  background-color: #fee2e2;
}
.text-red-500 {
  color: #ef4444;
}

.bg-gray-50 {
  background-color: #f9fafb;
}
.bg-gray-100 {
  background-color: #f3f4f6;
}
.bg-gray-200 {
  background-color: #e5e7eb;
}
.bg-gray-300 {
  background-color: #d1d5db;
}
.bg-gray-400 {
  background-color: #9ca3af;
}
.text-gray-300 {
  color: #d1d5db;
}
.text-gray-400 {
  color: #9ca3af;
}
.text-gray-500 {
  color: #6b7280;
}
.text-gray-600 {
  color: #4b5563;
}
.text-gray-700 {
  color: #374151;
}
.text-gray-800 {
  color: #1f2937;
}
.border-gray-50 {
  border-color: #f9fafb;
  	--tw-border-opacity: 1; border-color: rgba(249, 250, 251, var(--tw-border-opacity));
}
.border-gray-100 {
  border-color: #f3f4f6;
}
.border-gray-200 {
  border-color: #e5e7eb;
}
.border-gray-300 {
  border-color: #d1d5db;
}

/* 布局工具 */
.flex {
  display: flex;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}
.items-start {
  align-items: flex-start;
}
.space-y-4 > view + view {
  margin-top: 1rem;
}
.space-y-5 > view + view {
  margin-top: 1.25rem;
}
.space-y-3 > view + view {
  margin-top: 0.75rem;
}
.space-y-1\.5 > view + view {
  	--tw-space-y-reverse: 0; margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse))); margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
}
.space-x-2 > view + view {
  margin-left: 0.5rem;
}
.space-x-3 > view + view {
  margin-left: 0.75rem;
}
.grid {
  display: grid;
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.gap-y-6 {
  row-gap: 1.5rem;
}
.gap-3 {
  gap: 0.75rem;
}

/* 尺寸与间距 */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.w-1 {
  width: 0.25rem;
}
.h-1 {
  height: 0.25rem;
}
.w-2 {
  width: 0.5rem;
}
.h-2 {
  height: 0.5rem;
}
.w-4 {
  width: 1rem;
}
.h-4 {
  height: 1rem;
}
.w-24 {
  width: 6rem;
}
.h-24 {
  height: 6rem;
}
.w-20 {
  width: 5rem;
}
.h-20 {
  height: 5rem;
}
.w-16 {
  width: 4rem;
}
.h-16 {
  height: 4rem;
}
.w-14 {
  width: 3.5rem;
}
.h-14 {
  height: 3.5rem;
}
.w-12 {
  width: 3rem;
}
.h-12 {
  height: 3rem;
}
.w-6 {
  width: 1.5rem;
}
.h-6 {
  height: 1.5rem;
}
.p-1 {
  padding: 0.25rem;
}
.p-4 {
  padding: 1rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-6 {
  padding: 1.5rem;
}
.pl-3 {
  padding-left: 0.75rem; /* 3 × 0.25rem = 0.75rem = 12px */
}
.pl-4 {
  padding-left: 1rem;
}
.pl-10 {
  padding-left: 2.5rem;
}
.pr-4 {
  padding-right: 1rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-3\.5 {
  	padding-top: 0.875rem; padding-bottom: 0.875rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
.py-2\.5 {
  padding-top: 0.625rem; 
  padding-bottom: 0.625rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-0\.5 {
  padding-top: 0.125rem; 
  padding-bottom: 0.125rem;
}
.pt-12 {
  padding-top: 3rem;
}
.pt-10 {
  padding-top: 2.5rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-12 {
  padding-bottom: 3rem;
}
.pb-20 {
  padding-bottom: 5rem;
}
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
.m-0 {
  margin: 0;
}
.my-3{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-12 {
  margin-top: 3rem;
}
.mb-24 {
  margin-bottom: 6rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mt-8 {
  margin-top: -2rem;
}

/* 装饰 */
.rounded {
  border-radius: 0.25rem;
}
.shadow {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.rounded-2xl {
  border-radius: 1rem;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-b-\[2rem\] {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.shadow-none {
  --tw-shadow: 0 0 #0000; box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-inner {
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06); box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.border-0 {
  border-width: 0px;
}
.border {
  border-width: 1px;
  border-style: solid;
}
.border-solid {
  border-style: solid;
}
.border-none {
  border: none;
}
.border-transparent {
  border-color: transparent;
}
.border-2 {
  border-width: 2px;
}
.border-l-4 {
  border-left-width: 4px;
}
.border-l-2 {
  border-left-width: 2px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-t-solid {
  border-top-style: solid;
}
.border-l-solid {
  border-left-style: solid;
}
.border-b-solid {
  border-bottom-style: solid;
}
.border-dashed {
  border-style: dashed;
}

/* 文本 */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.text-9xl {
  font-size: 8rem;
  line-height: 1;
}
.text-5xl {
  font-size: 3rem; 
  line-height: 1;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-10 {
  font-size: 10px;
  line-height: 1rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
/* .text-\[10px\] { font-size: 10px; } */
.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

/* 定位 */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.z-50 {
  z-index: 50;
}
.z-40 {
  z-index: 40;
}
.z-10 {
  z-index: 10;
}
.overflow-hidden {
  overflow: hidden;
}

/* 其他 */
.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.pointer-events-none {
  pointer-events: none;
}
.hidden {
  display: none;
}
.opacity-10 {
  opacity: 0.1;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-80 {
  opacity: 0.8;
}
.opacity-70 {
  opacity: 0.7;
}
.opacity-90 {
  opacity: 0.9;
}
.transition {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.min-h-screen {
  min-height: 100vh; /* 100% 视口高度 */
}

.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.border-blue-100 {
  	--tw-border-opacity: 1; border-color: rgba(219, 234, 254, var(--tw-border-opacity));
}
.border-orange-100 {
    --tw-border-opacity: 1; border-color: rgba(255, 237, 213, var(--tw-border-opacity));
}
.border-green-100 {
	--tw-border-opacity: 1; border-color: rgba(209, 250, 229, var(--tw-border-opacity));
}

.border-purple-100{
	--tw-border-opacity: 1; border-color: rgba(237, 233, 254, var(--tw-border-opacity));
}
.border-yellow-100{
	--tw-border-opacity: 1; border-color: rgba(254, 243, 199, var(--tw-border-opacity));
}

.inline-flex {
  display: inline-flex;
}
.inline-block {
  display: inline-block;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.select-none {
  user-select: none;
}
.select-text {
  user-select: text;
}
.slot-disabled {
  background-color: #e5e7eb;
  color: #9ca3af;
  cursor: not-allowed;
  border-color: #e5e7eb;
}
.slot-selected {
  background-color: #002fa7;
  color: white;
  border-color: #002fa7;
}
.tracking-wide {
 	letter-spacing: 0.025em;
}

.inset-y-0 {
  top: 0px; bottom: 0px;
}

/* 页面基础样式 */
.page {
  background-color: #ffffff;
  height: 100%;
}

.animate-bounce {
  animation: bounce 1s infinite;
}
